---
import { LucideGlobe, LucideHeart } from 'lucide-react'
---

<section id="our-mission" class="mb-[100px] w-full px-6">
	<div class="rounded-xl bg-black/5">
		<div class="mx-auto max-w-3xl space-y-10 rounded-xl p-12 text-center lg:space-y-20">
			<header class="space-y-4">
				<h2 class="text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl">Nuestra Misión</h2>
				<p class="max-w-3xl font-semibold text-zinc-500 md:text-lg lg:text-xl">
					Nuestra misión es desarrollar soluciones tecnológicas innovadoras que transformen la
					manera en que las personas interactúan con el mundo digital, haciendo la tecnología más
					accesible, intuitiva y beneficiosa para todos.
				</p>
			</header>
			<section class="grid gap-8 md:grid-cols-2 lg:max-w-3xl">
				<article class="flex flex-col items-center p-4">
					<div class="mb-4 rounded-full bg-black/10 p-4">
						<LucideGlobe className="size-5 md:size-8" />
					</div>
					<h3 class="mb-2 text-lg font-semibold md:text-xl">Visión Global</h3>
					<p class="text-center text-sm text-zinc-500 md:text-base">
						Aspiramos a ser líderes globales en innovación tecnológica, creando productos que
						mejoren la vida de millones de personas en todo el mundo.
					</p>
				</article>
				<article class="flex flex-col items-center p-4">
					<div class="mb-4 rounded-full bg-black/10 p-4">
						<LucideHeart className="size-5 md:size-8" />
					</div>
					<h3 class="mb-2 text-lg font-semibold md:text-xl">Compromiso Social</h3>
					<p class="text-center text-sm text-zinc-500 md:text-base">
						Nos comprometemos a desarrollar tecnologías que sean inclusivas, éticas y que
						contribuyan positivamente a la sociedad y al medio ambiente.
					</p>
				</article>
			</section>
		</div>
	</div>
</section>
