---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Features from "../components/features.jsx";
import Carousel from "../components/carousel.jsx";
---

<Layout title="Optimedic">
  <Title />
  <div class="max-w-[1200px] mx-auto flex flex-col items-center gap-[100px]">
    <Carousel client:visible />
    <Features />
  </div>
</Layout>
