---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/home/hero/Hero'
import Features from '../components/home/features/Features.astro'
import Products from '../components/home/products/Products.astro'

import { getI18N } from '../i18n/'
import About from '../components/home/about/About.astro'
import Gallery from '../components/home/gallery/Gallery.astro'
const { currentLocale = 'es' } = Astro
const seoData = getI18N({ currentLocale }).HOME_PAGE.SEO
---

<Layout seoData={seoData} isHome={true}>
	<h1 class="sr-only">Optimedic</h1>
	<Hero client:load />
	<Features />
	<About />
	<Products />
	<Gallery />
</Layout>
