---
import Layout from "../layouts/Layout.astro";
import Title from "../components/MainTitle.astro";
import Features from "../components/features";
import Carousel from "../components/carousel";
import Products from "../components/products";
---

<Layout title="Optimedic">
  <Title />
  <section
    class="max-w-[1200px] mx-auto flex flex-col items-center gap-[100px] mb-[100px]"
  >
    <Carousel client:visible />
    <Features />
    <Products />
  </section>
</Layout>
