---
import { getI18N } from '../i18n/'
const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })

const productsData = i18n.HOME_PAGE.PRODUCTS
---

<section
	class="flex w-full flex-col md:gap-4 md:px-12 lg:grid lg:grid-cols-[repeat(4,1fr)] lg:grid-rows-[repeat(2,1fr)]"
>
	{
		productsData.map((product, index) => (
			<article
				class={`relative h-[250px] overflow-hidden bg-cover bg-center md:rounded-lg ${
					index === 0 ? 'col-span-4' : index === 1 ? 'col-span-3' : 'col-span-1'
				} group`}
				style={{ backgroundImage: `url(${product.img})` }}
			>
				<div class="flex h-full w-full flex-col items-center justify-center bg-black bg-opacity-50 transition-all duration-300 ease-in-out group-hover:bg-opacity-75 md:rounded-lg">
					<p class="p-4 text-2xl font-semibold text-white transition-opacity duration-300 ease-in-out group-hover:hidden">
						{product.name}
					</p>
					<div class="absolute inset-0 flex flex-col items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100">
						<div class="flex flex-col items-center space-y-2">
							{product.subcategories.map((subcategory, subIndex) => (
								<a
									href={subcategory.href}
									class="translate-y-4 transform text-lg font-medium text-white transition-all duration-300 ease-in-out hover:underline group-hover:translate-y-0"
									style={{ transitionDelay: `${subIndex * 100}ms` }}
								>
									{subcategory.name}
								</a>
							))}
						</div>
					</div>
				</div>
			</article>
		))
	}
</section>
