---
import { LucideArrowRight } from 'lucide-react'
import BlurText from './animations/BlurText/BlurText'
---

<section
	class="mb-[100px] flex w-full flex-col items-center justify-center gap-10 px-6 text-center md:px-10 lg:gap-20"
>
	<div class="flex flex-col items-center gap-4 px-6 text-center lg:px-0">
		<h2 class="text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl">
			<BlurText
				client:visible
				text="¿Listo para comenzar?"
				delay={150}
				animateBy="words"
				direction="top"
			/>
		</h2>

		<p class="font-semibold text-zinc-500 md:w-[700px] md:text-lg lg:w-[800px] lg:text-xl">
			Solicita un presupuesto personalizado adaptado a tus necesidades específicas.
		</p>
	</div>
	<div class="rounded-lg border p-4 md:p-6">
		<h3 class="mb-5 text-xl font-semibold tracking-tight md:text-2xl">
			Solicitar presupuesto personalizado
		</h3>
		<a
			href="/contacto"
			class="group flex items-center justify-center rounded-lg border-gray-300 bg-[#173d6e] px-4 py-2 text-white transition-colors hover:bg-[#173d6e]/90"
		>
			<span>Solicitar</span>
			<LucideArrowRight className="ml-2 size-4 transition-all group-hover:ml-3" />
		</a>
	</div>
	<p class="text-sm text-gray-500">
		Nuestro equipo responderá a tu solicitud en un plazo de 24 horas.
	</p>
</section>
