---
import { LucideArrowRight } from 'lucide-react'
---

<section
	class="mb-[100px] flex w-full flex-col items-center justify-center gap-10 px-6 text-center md:px-10 lg:gap-20"
>
	<div class="flex flex-col items-center gap-4 px-6 text-center lg:px-0">
		<h2 class="text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl">¿Listo para comenzar?</h2>
		<p class="font-semibold text-zinc-500 md:w-[700px] md:text-lg lg:w-[800px] lg:text-xl">
			Solicita un presupuesto personalizado adaptado a tus necesidades específicas.
		</p>
	</div>
	<div class="rounded-md border p-6">
		<h3 class="mb-5 text-2xl font-semibold tracking-tight">Solicitar presupuesto personalizado</h3>
		<a
			href="/contacto"
			class="flex items-center justify-center gap-2 rounded-md border border-gray-300 bg-[#173d6e] px-4 py-2 text-white transition-colors hover:bg-[#173d6e]/90"
		>
			<span>Solicitar</span>
			<LucideArrowRight className="size-4" />
		</a>
	</div>
	<p class="text-sm text-gray-500">
		Nuestro equipo responderá a tu solicitud en un plazo de 24 horas.
	</p>
</section>
