<footer class="bg-[#076b61]">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="https://flowbite.com/" class="flex items-center">
          <img
            src="/public/logo.png"
            class="h-[60px] me-3"
            alt="Optimedic Logo"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:flex sm:gap-[50px]">
        <div>
          <h2
            class="mb-2 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Related
          </h2>
          <ul
            class="text-gray-500 dark:text-gray-400 font-medium flex flex-col gap-1"
          >
            <li>
              <a href="https://flowbite.com/" class="hover:underline"> Home </a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">
                Events
              </a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">
                About us
              </a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-2 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Products
          </h2>
          <ul
            class="text-gray-500 dark:text-gray-400 font-medium flex flex-col gap-1"
          >
            <li>
              <a href="https://flowbite.com/" class="hover:underline">
                Loupes
              </a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">
                Frames
              </a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">
                MicroAire
              </a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">
                Renuvion
              </a>
            </li>
          </ul>
        </div>

        <div>
          <h2
            class="mb-2 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul
            class="text-gray-500 dark:text-gray-400 font-medium flex flex-col gap-1"
          >
            <li>
              <a href="#" class="hover:underline"> Privacy Policy </a>
            </li>
            <li>
              <a href="#" class="hover:underline"> Terms &amp; Conditions </a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-2 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Contact
          </h2>
          <ul class="text-gray-400 font-medium flex flex-col gap-1">
            <li>
              <a href="#" class="hover:underline flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-mail"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="#99a3af"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                  ></path>
                  <path d="M3 7l9 6l9 -6"></path>
                </svg>
                info@optimedic.es
              </a>
            </li>
            <li>
              <a href="#" class="hover:underline flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-phone"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="#99a3af"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                  ></path>
                </svg>
                +34 938 43 03 36
              </a>
            </li>
            <li>
              <a href="#" class="hover:underline flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-whatsapp"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  stroke-width="2"
                  stroke="#99a3af"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                  <path
                    d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                  ></path>
                </svg>
                Whatsapp
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 sm:mx-auto border-gray-400 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-400 sm:text-center">
        © 2024{" "}
        <a href="https://flowbite.com/" class="hover:underline">Optimedic</a>
        . All Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0 text-gray-400">
        <a href="#" class="hover:text-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            ></path>
          </svg>
          <span class="sr-only">Facebook page</span>
        </a>
        <a href="#" class="hover:text-white ms-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
          </svg>
          <span class="sr-only">Instagram page</span>
        </a>
        <a href="#" class="hover:text-white ms-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
          </svg>
          <span class="sr-only">X page</span>
        </a>
        <a href="#" class="hover:text-white ms-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
          <span class="sr-only">Linkedin page</span>
        </a>
      </div>
    </div>
  </div>
</footer>
