---
console.log("javascript");
---

<header class="w-full flex justify-between bg-[#076B61] h-[60px] px-5">
  <div class="flex flex-row items-center gap-[20px] text-white">
    <h2 class="text-2xl font-extrabold">Optimedic, S.L</h2>
    <div class="bg-white h-[20px] w-[1px]"></div>
    <nav>
      <ul class="flex gap-[35px]">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div>Light/dark</div>
</header>
