<section class="flex flex-col gap-12">
  <h1 class="text-6xl">Loupes</h1>
  <article class="flex flex-row gap-4">
    <div class="relative">
      <div class="w-[5px] h-full bg-[#076b61] rounded"></div>
    </div>
    <div class="flex flex-col gap-4">
      <p class="font-bold text-lg">
        El aumento excepcional es esencial para todo, desde los exámenes
        rutinarios hasta los procedimientos quirúrgicos complicados.
        Trabajaremos con usted para encontrar el mejor nivel de aumento que le
        permita realizar su trabajo lo mejor posible.
      </p>
      <p class="text-lg">
        Nuestros niveles de aumento van de 2,5 a 5,5, incluyendo dos lupas de
        aumento variable, EyeZoom™ y EyeZoom™ Mini. EyeZoom ofrece tres
        niveles de aumento en una sola lupa y ha ganado el Cellerant Best of
        Class Technology Award (premio de tecnología Mejor en su clase de
        Cellerant) tres veces desde su lanzamiento.
      </p>
      <p class="text-lg">
        La graduacion, distancia de trabajo y el ángulo de inclinación es
        personalizado. Además, se incluyen protectores lateras, banda para la
        cabeza, estuche personalizado, destornillador óptico y gamuza.
      </p>
      <p class="text-lg">
        Todos los sistemas ópticos están hechos con lentes de vidrio recocido
        fino de grado A con revestimientos antiarañazos y antirreflejos. Todas
        las lentes de soporte están hechas con material de policarbonato de alto
        índice.
      </p>
    </div>
  </article>
</section>
