---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class="bg-teal-600 text-white w-[calc(100vw-5px] w-[calc(100vw-5px)] h-[calc(100vh-60px)] lg:h-[calc(100vh-64px)] flex items-center justify-around"
>
  <div class="flex flex-col text-center gap-6 font-bold mb-[60px] lg:mb-[64px]">
    <h1 class="text-6xl">{i18n.HOME_PAGE.TITLE}</h1>
    <h3 class="text-4xl">{i18n.HOME_PAGE.SLOGAN}</h3>
  </div>
</section>
