---
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });

const productsData = i18n.HOME_PAGE.PRODUCTS;
---

<section
  class="w-full flex flex-col md:px-12 lg:grid lg:grid-cols-[repeat(4,1fr)] lg:grid-rows-[repeat(2,1fr)] md:gap-4"
>
  {
    productsData.map((product, index) => (
      <article
        class={`relative bg-cover bg-center md:rounded-lg overflow-hidden h-[250px] ${
          index === 0 ? "col-span-4" : index === 1 ? "col-span-3" : "col-span-1"
        } group`}
        style={{ backgroundImage: `url(${product.img})` }}
      >
        <div class="w-full h-full flex flex-col justify-center items-center bg-black bg-opacity-50 rounded-lg group-hover:bg-opacity-75 transition-all duration-300 ease-in-out">
          <p class="text-white text-2xl font-semibold p-4 group-hover:hidden transition-opacity duration-300 ease-in-out">
            {product.name}
          </p>
          <div class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
            <div class="flex flex-col items-center space-y-2">
              {product.subcategories.map((subcategory, subIndex) => (
                <a
                  href={subcategory.href}
                  class="text-white text-lg font-medium transform translate-y-4 group-hover:translate-y-0 transition-all duration-300 ease-in-out hover:underline"
                  style={{ transitionDelay: `${subIndex * 100}ms` }}
                >
                  {subcategory.name}
                </a>
              ))}
            </div>
          </div>
        </div>
      </article>
    ))
  }
</section>
