---
import { getI18N } from '../../../i18n/'
const { currentLocale = 'es' } = Astro
const i18n = getI18N({ currentLocale })

import { FeatureItem } from './feature-item'

const featuresData = i18n.HOME_PAGE.FEATURES
---

<section
	class="mb-[100px] flex w-full flex-col items-center justify-center px-6 text-center md:px-10 lg:gap-20"
>
	<div class="mb-10 flex flex-col items-center gap-4 text-center">
		<h2 class="text-3xl font-bold tracking-tighter text-zinc-900 md:text-4xl">
			Por qué elegir Optimedic
		</h2>
		<p class="max-w-[700px] text-zinc-500 md:text-xl">
			Nos comprometemos con la excelencia en cada aspecto de nuestro negocio.
		</p>
	</div>
	<div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:px-14 lg:grid-cols-4">
		{
			featuresData.map((feature, index) => (
				<FeatureItem
					title={feature.title}
					description={feature.description}
					iconIndex={index}
					color={feature.color}
				/>
			))
		}
	</div>
	<div class="mt-12 text-center">
		<p
			class="inline-flex items-center justify-center rounded-lg bg-blue-50 px-4 py-2 text-sm font-medium text-blue-700"
		>
			Con la confianza de más de 2.000 profesionales de la salud en España
		</p>
	</div>
</section>
